---
import ReactIcon from "./Icons/ReactIcon.astro";
import FirebaseIcon from "./Icons/Firebase.astro";
import boostrapIcon from "./Icons/bootstrap.astro";
import TypeScriptIcon from "./Icons/TypeScript.astro";
import LaravelIcon from "./Icons/Laravel.astro";

const TAGS = {
  React: {
    name: "React.JS",
    class: "bg-blue-400 text-white",
    icon: ReactIcon,
  },
  Firebase: {
    name: "Firebase",
    class: "bg-yellow-400 text-black",
    icon: FirebaseIcon,
  },
  boostrap: {
    name: "boostrap",
    class: "bg-purple-400 text-white",
    icon: boostrapIcon,
  },
  typeSript: {
    name: "typeSript",
    class: "bg-blue-400 text-white",
    icon: TypeScriptIcon,
  },
  Laravel: {
    name: "Laravel",
    class: "bg-red-400 text-white",
    icon: LaravelIcon,
  },
};

const Prj = [
  {
    title: "Autenticaci贸n",
    description:
      "Creaci贸n de una web en la que se utilizan herramientas de autenticaci贸n para verificar usuarios",
    link: "#",
    github: "https://github.com/David-Ramirez01/Test-CB",
    image: "/projects/auth.webp",
    tags: [TAGS.React, TAGS.Firebase, TAGS.boostrap, TAGS.typeSript],
  },
  {
    title: "Notes App",
    description:
      "proyecto Web utilizando Laravel(PHP) y JavaScript para la creaci贸n de notas",
    link: "#",
    github: "https://github.com/David-Ramirez01/app_notas",
    image: "https://placehold.co/400x200",
    tags: [TAGS.Laravel, TAGS.typeSript],
  },
];
---

{
  Prj.map(({ title, description, link, github, image, tags }) => (
    <article class="py-2">
      <h2 class="text-2xl font-semibold text-blue-400/80 mb-2">{title}</h2>
      <p class="text-lg mb-2 text-pretty">{description}</p>
      <ul class="flex flex-row gap-x-4 mb-2">
        {tags.map((tag) => (
          <span>
            <li>
              <span
                class={`flex gap-x-2 text-sm items-center rounded-4xl ${tag.class} py-1 px-2`}
              >
                <tag.icon class="size-8" />
                {tag.name}
              </span>
            </li>
          </span>
        ))}
      </ul>
      {image && (
        <img
          class="rounded-xl shadow-2xl shadow-white/10 w-lg h-lg hover:scale-110 transition-transform"
          src={image}
          alt="Captura de pantalla del proyecto"
        />
      )}
    </article>
  ))
}
